<div class="w-50 m-auto">
  <h2>&#128372; Ingresar &#128372;</h2>

  <div class="row my-5 border rounded p-5">
    <div class="col col-4">Email:</div>
    <div class="col col-8">
      <input type="text" class="form-control" id="email" />
    </div>

    <div class="col col-4">Contraseña:</div>
    <div class="col col-8">
      <input type="password" class="form-control" id="password" />
    </div>

    <div class="col-12 mt-2">
      <button onclick="login()" class="bg-light m-auto btn">
        Ingresar
      </button>
    </div>
  </div>
</div>

<script>
  async function login() {
    try {
      const email = document.getElementById('email').value;
      const password = document.getElementById('password').value;
      let payload = { email, password }
      const { data } = await axios.post("api/v1/login", payload);
      localStorage.setItem("user", JSON.stringify(data.user));
      localStorage.setItem("token", data.token);
      alert(`Autenticado con éxito! Serás redirigido a Evidencias para que cargues tus fotos`);
      window.location.href = "/evidencias?token=" + data.token;
    } catch (error) {
      alert(error.response.data.error);
    }
  }
</script>